{% extends 'base.html' %}
{% block body %}
<h3>Generar Sine Sweep y filtro inverso</h3>
<section id="formulario">
  <form action="{{ url_for('generar') }}" method="post" enctype="multipart/form-data">
    <label>Duración (s):
      <input type="number" step="0.1" name="duracion" required>
    </label>
    <label>Freq. inferior (Hz):
      <input type="number" step="1" name="f_inferior" placeholder="20" required>
    </label>
    <label>Freq. superior (Hz):
      <input type="number" step="1" name="f_superior" placeholder="20000" required>
    </label><br><br>
    <button type="submit">Generar Sweep</button>
  </form><br><br>
  <h3>Subir archivo wav</h3><br>
  <form method="post" action="{{url_for('file_upload')}}" enctype="multipart/form-data">
    <input type="file" name="file" accept=".wav, audio/wav">
    <input type="submit" value="Subir Archivo">
  </form>
</section>

{% endblock %}