{% extends 'base.html' %}
{% block body %}
<h1>Tu sine sweep está listo</h1>
<h2>Barrido directo</h2>
<audio controls>
  <source src="data:audio/wav;base64,{{ audio_sweep_b64 }}" type="audio/wav">
</audio>
<p>Descargar: <a href="data:audio/wav;base64,{{ audio_sweep_b64 }}" download="{{ filename_sweep }}">Sweep</a></p>

<h2>Barrido inverso</h2>
<audio controls>
  <source src="data:audio/wav;base64,{{ audio_inverse_b64 }}" type="audio/wav">
</audio>
<p>Descargar: <a href="data:audio/wav;base64,{{ audio_inverse_b64 }}" download="{{ filename_inverse }}">Inverse</a></p>
  <p><a href="{{ url_for('probar_page') }}">← Generar otro sweep</a></p>
{% endblock %}